{% extends 'base.html' %}
{% load i18n %}

    {% block meta %}{% endblock %}

    {% block title %} Hadezta {% endblock %}
    {% block content %}
        <h3>{% trans 'Register Course' %}</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.birthday_name.errors }}
                    {{ form.birthday.label_tag }}
                    {{ form.birthday }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.place.errors }}
                    {{ form.place.label_tag }}
                    {{ form.place }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.place.errors }}
                    {{ form.place.label_tag }}
                    {{ form.place }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.phonenumber.errors }}
                    {{ form.phonenumber.label_tag }}
                    {{ form.phonenumber }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.sexo.errors }}
                    {{ form.sexo.label_tag }}
                    {{ form.sexo }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.cursu.errors }}
                    {{ form.cursu.label_tag }}
                    {{ form.cursu }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.photo.errors }}
                    {{ form.photo.label_tag }}
                    {{ form.photo }}
                </div>
            </div>
            <input type="submit" value="Create"/>
        </form>
    {% endblock %}
