{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}

    {% block meta %}{% endblock %}

    {% block title %} Hadezta {% endblock %}
    {% block content %}

    <style>
        .tables {
            width: 100%;
            border-collapse: collapse;
            border-color: #ccc;
        }
        .create {
            background-repeat: no-repeat;
            background-position: right 7px center;
            padding-right: 26px;
            display: block;
            float: left;
            padding: 3px 12px;
            background: rgb(10, 218, 245);
            font-weight: 400;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            border-radius: 15px;
            margin-right: 15px;
        }
    </style>

    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'create' %}" class="create">{% trans 'Create' %}</a>
                <h3>{% trans 'List Of Course' %}</h3>

                <table class="tables">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">{% trans 'Id' %}</th>
                      <th scope="col">{% trans 'First' %}</th>
                      <th scope="col">{% trans 'Last' %}</th>
                      <th scope="col">{% trans 'Birthday' %}</th>
                      <th scope="col">{% trans 'Place' %}</th>
                      <th scope="col">{% trans 'Phone Number' %}</th>
                      <th scope="col">{% trans 'Sexo' %}</th>
                      <th scope="col">{% trans 'Curso' %}</th>
                      <th scope="col">{% trans 'Photo' %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for registu in registukursu_list reversed %}
                    <tr>
                      <th scope="row">{{ registu.pk }}</th>
                      <td>{{ registu.first_name }}</td>
                      <td>{{ registu.last_name }}</td>
                      <td>{{ registu.birthday }}</td>
                      <td>{{ registu.place }}</td>
                      <td>{{ registu.phonenumber }}</td>
                      <td>{{ registu.get_sexo_display }}</td>
                      <td>{{ registu.get_cursu_display }}</td>
                      <td>
                        {% if registu.photo %}
                            <img src="{{ registu.photo.url }}" width=50 height=50/>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </nav>
    {% endblock %}
