{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}

    {% block meta %}{% endblock %}

    {% block title %} Hadezta {% endblock %}
    {% block content %}
    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-md-12">
                <h1>FORMULARIO REGISTO KURSUS NO KRITERIA KURSUS</h1>
                <a href="{% url 'create' %}">
                    <input type="submit" class="btn btn-primary" value="Create"/>
                </a>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Birthday</th>
                      <th scope="col">Place</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Sexo</th>
                      <th scope="col">Curso</th>
                      <th scope="col">Photo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for registu in registukursu_list reversed %}
                    <tr>
                      <th scope="row">{{ registu.pk }}</th>
                      <td>{{ registu.first_name }}</td>
                      <td>{{ registu.last_name }}</td>
                      <td>{{ registu.birthday }}</td>
                      <td>{{ registu.place }}</td>
                      <td>{{ registu.phonenumber }}</td>
                      <td>{{ registu.get_sexo_display }}</td>
                      <td>{{ registu.get_cursu_display }}</td>
                      <td>
                        {% if registu.photo %}
                            <img src="{{ registu.photo.url }}" width=50 height=50/>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </nav>
    {% endblock %}
